<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Parâmetros de Configuração-->
		<add key="browser" value="Chrome" />
		<add key="uri" value="http://localhost:4444/wd/hub" />
		<add key="urlCEP" value="https://buscacepinter.correios.com.br/app/endereco/index.php" />
	</appSettings>
</configuration>